/.idea
/.idea*
target/
/rest/logs
/logs/application.log
/RUNNING_PID
*.swp
*.swo
/test-output/
LOG_DIR_IS_UNDEFINED/
/evaluation/*_events.csv
/evaluation/.Rhistory
.ensime*
/jmeter/*.log
*~
projectFilesBackup/

.RData
.Rhistory

logs
application.home_IS_UNDEFINED
jmeter.log

/rest/conf/swagger.yml
/rest/public/rest.json
data/
